@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-yellow: #F4D04E;
    --color-gray-950: #111111;
    --color-gray-500: #6B6B6B;
    --color-white: #ffffff;
    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}


h1, h2, h3, p {
    margin: 0;
}

.txt-1 {
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    font-weight: 800;
    letter-spacing: 0px;
    color: var(--color-gray-950);
}

.txt-1:hover{
    cursor: pointer;
    color: var(--color-yellow);
}

.txt-2 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0px;
    color: var(--color-gray-500);
    max-width: 336px;
}
.txt-3 {
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0px;
    color: var(--color-gray-950);
}
.txt-4 {
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0px;
    color: var(--color-gray-950);
}

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    background-color: var(--color-yellow);
}

.bg-yellow {
display: flex;
padding: var(--spacing-50, 4px) var(--spacing-150, 12px);
justify-content: center;
align-items: center;
gap: var(--spacing-100, 8px);
border-radius: 4px;
background: var(--color-yellow, #F4D04E);

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    box-sizing: border-box;
    display: flex;
    width: calc(100% - var(--spacing-300)*2);
    max-width: 384px;
    padding: var(--spacing-300, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    border-radius: 20px;
    border: 1px solid var(--color-gray-950, #111);
    background: var(--color-white, #FFF);
    box-shadow: 8px 8px 0px 0px #000;
}


.blog-img {
    border: 0px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
  overflow: hidden;
  height: 200px;
}

.author-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-150, 12px);
}

.author-img-container {
    border-radius: 32px;
    width: 32px;
    height: 32px;
}

.txt-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-150, 12px);
    }

.author-img {
    width: 100%;
}

footer {
    color: var(--color-yellow);
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-yellow)

}

@media (max-width: 440px) {
    .txt-1{
        font-size: 20px;
    }

    .txt-2 {
        font-size: 14px;
    }

    .txt-3 {
        font-size: 12px;
    }

    .txt-4 {
        font-size: 12px;
    }
}



